<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SubscribeKey" value="message"/>
    <add key="RedisIP" value="localhost:6379"/>
    <add key="KeyPath" value="C:\Users\adam\Downloads\AstroView.p12"/>
    <add key="APNProduction" value="true" />
  </appSettings>
</configuration>